.header {
  --coefficient: 0;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: var(--transition);
  z-index: 1;
}

.wrapper {
  height: calc(
    (var(--coefficient) / 100) * var(--header-h) + var(--safe-top)
  );
  min-height: calc(var(--module) * 10 + var(--safe-top));
  display: flex;
  align-items: center;
  padding-top: clamp(var(--safe-top), var(--module) * 2, 100%);
  padding-bottom: calc(var(--module) * 2);
  padding-inline: calc(var(--module) * 5);
  gap: calc(var(--module) * 2);
}

button {
  display: flex;

  svg {
    width: calc(var(--module) * 6);
    height: auto;
  }
}

.title {
  flex: 1 100%;
  font-size: var(--h4-fs);
  font-weight: 700;
  transform: scale3d(
    calc(1 + (var(--coefficient) / 100)),
    calc(1 + (var(--coefficient) / 100)),
    calc(1 + (var(--coefficient) / 100))
  );
  transform-origin: center center;
}

.actions {
  display: flex;
  gap: calc(var(--module) * 2);
}

#compressed {
  background-color: color-mix(in srgb, var(--black) 80%, transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
