.marker-bar-wrapper {
  --local-white: var(--white);
  --local-gray40: var(--gray40);
  --local-module: var(--module);
  --local-marker-size: calc(var(--local-module) / 2 * 5);
  --local-marker-gap: calc(var(--local-module) * 4);
  --local-transition: var(--transition);
  --local-marker-bar-width: 0;
  --local-marker-scale: 0;

  width: auto;
  display: block;
  justify-content: center;
  padding: calc(var(--local-module) * 2);
  margin: calc(var(--local-module) * 2) auto;
  border-radius: calc(var(--local-module) * 3);
  transition: var(--local-transition);
  touch-action: none;
}

.draggable {
  background-color: color-mix(in srgb, var(--local-white) 10%, transparent);
  backdrop-filter: blur(10px);

  .slide-marker--active {
    min-width: var(--local-marker-size);
  }
}

.marker-bar {
  display: flex;
  width: var(--local-marker-bar-width);
  gap: var(--local-marker-gap);
  scroll-behavior: smooth;
  overflow: auto;
  pointer-events: none;

  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.slide-marker {
  position: relative;
  height: var(--local-marker-size);
  min-width: var(--local-marker-size);
  opacity: var(--local-marker-scale);
  transition: var(--local-transition);

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--local-white) 50%, transparent);
    border-radius: 6px;
    transform: scale3d(
      var(--local-marker-scale),
      var(--local-marker-scale),
      var(--local-marker-scale)
    );
    transition: var(--local-transition);
    transform-origin: center center;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: var(--local-transition);
    border-radius: 6px;
  }
}

.slide-marker--active {
  min-width: calc(var(--local-marker-size) * 2 + var(--local-marker-gap));

  &::after {
    background-color: var(--local-white);
  }
}
