.carousel-content-wrapper {
  overflow: hidden;
}

.carousel-content {
  display: flex;

  &.vertical {
    margin-left: -1rem;
    flex-direction: column;
  }

  &.horizontal {
    margin-top: -1rem;
  }
}
