.footer {
  /* global variable */
  --local-module: var(--module);
  --local-safe-right: var(--safe-right);
  --local-safe-bottom: var(--safe-bottom);
  --local-footer-h: var(--footer-h);
  --local-gray90: var(--gray90);
  --local-transition: var(--transition);

  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-block: calc(var(--local-module) * 2);
  padding-inline: clamp(var(--local-safe-right), var(--local-module) * 4, 100%);
  gap: calc(var(--local-module) * 2);
  background-color: color-mix(in srgb, var(--local-gray90) 80%, transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: var(--local-transition);
}

.hidden {
  bottom: calc(var(--local-footer-h) * -1);
  visibility: hidden;
}

/* Portrait mobile */
@media screen and (width <= 430px) and (orientation: portrait) {
  .footer {
    min-height: var(--local-footer-h);
    padding-bottom: var(--local-safe-bottom);

    & > * {
      width: 100%;
    }
  }

  .hidden {
    bottom: calc((var(--local-footer-h) + var(--local-safe-bottom)) * -1);
  }
}

/* Landscape mobile */
@media screen and (width <= 932px) and (orientation: landscape) {
  .footer {
    height: fit-content;
    top: 0;
    left: 0;

    & > * {
      padding: var(--local-module) calc(var(--local-module) * 2);
    }
  }

  .hidden {
    top: calc(var(--local-footer-h) * -1);
  }
}

/* Portrait tablet */
@media screen and (430px < width <= 1024px) and (orientation: portrait) {
  .footer {
    padding-bottom: clamp(var(--local-safe-bottom), var(--local-module) * 2, 100%);

    & > * {
      padding: calc(var(--local-module) * 2);
    }
  }

  .hidden {
    bottom: calc((var(--local-footer-h) + var(--local-safe-bottom)) * -1);
  }
}

/* Landscape tablet */
@media screen and (932px < width <= 1366px) and (orientation: landscape) {
  .footer {
    padding-bottom: clamp(
      var(--local-safe-bottom),
      var(--local-module) * 2,
      100%
    );

    & > * {
      padding: calc(var(--local-module) * 2);
    }
  }

  .hidden {
    bottom: calc((var(--local-footer-h) + var(--local-safe-bottom)) * -1);
  }
}

/* Desktop */
@media screen and (width > 1366px) and (orientation: landscape) {
  .footer {
    max-height: fit-content;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--local-module) * 4);
    gap: calc(var(--local-module) * 5);

    & > * {
      opacity: 1;
      transition: var(--local-transition);
    }
  }

  .hidden {
    padding-block: calc(var(--local-module) * 2);

    & > * {
      opacity: 0.5;
    }
  }
}
