.header {
  /* global variable */
  --local-coefficient: 0;
  --local-black: var(--black);
  --local-module: var(--module);
  --local-safe-top: var(--safe-top);
  --local-header-h: var(--header-h);
  --local-compressed-header-h: var(--compressed-header-h);
  --local-transition: var(--transition);
  --local-h4-fs: var(--h4-fs);

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: var(--local-transition);
  z-index: 1;
}

.wrapper {
  height: calc(
    (var(--local-coefficient) / 100) * var(--local-header-h) + var(--local-safe-top)
  );
  min-height: calc(var(--local-compressed-header-h) + var(--local-safe-top));
  display: flex;
  align-items: center;
  padding-top: clamp(var(--local-safe-top), var(--local-module), 100%);
  padding-bottom: var(--local-module);
  padding-inline: calc(var(--local-module) * 5);
  gap: calc(var(--local-module) * 2);
  background: color-mix(in srgb, var(--local-black) 80%, transparent);
  background: linear-gradient(0deg, transparent 0%, color-mix(in srgb, var(--local-black) 70%, transparent) 100%);
}

.extras{
  width: 100%;
}

.title {
  width: fit-content;
  font-size: calc(var(--local-h4-fs) * (var(--local-coefficient) / 100 + 1));
  font-weight: 700;
  transform-origin: center center;
  pointer-events: none;
}

.actions {
  display: flex;
  gap: calc(var(--local-module) * 2);
}

.compressed {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
