#background {
  position: fixed;
  top: 0;
  left: var(--left-start);
  width: var(--poster-width);
  height: clamp(75dvh, calc(100vw * 3/2), 100%);
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}
